extends ../layout

block content
    h2.mt-3 Users
    div.mt-5.table-responsive
        table.table.table-striped.table-sm
            thead
                tr
                    th ID
                    th Email
            tbody
                - for(let user of users)
                    tr
                        td
                            p=user._id
                        td
                            p=user.email